.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.brown {
  background-color: brown;
}

.active {
  background-image: url("../assets/img/target.png");
}
