.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.795);
  display: grid;
  justify-items: center;
  align-items: center;
}

.gameover {
  height: 200px;
  width: 400px;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10%;
  background-color: snow;
  z-index: 100;
}

.gameover button {
  background: white;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
