.popup {
  background-color: rgb(228, 103, 1);
  font-weight: 600;
  padding: 1rem;
  min-width: 50%;
  min-height: 25%;
  border-radius: 3px;
  position: absolute;
  left: 27%;
  align-items: center;
  z-index: 1000;
}
