.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.616);
  display: grid;
  justify-items: center;
  align-items: center;
}

.popup {
  background-color: rgb(228, 103, 1);
  font-weight: 600;
  padding: 1rem;
  min-width: 50%;
  min-height: 25%;
  border-radius: 3px;
  position: absolute;
  left: 27%;
  align-items: center;
  z-index: 1000;
}
