.circle {
  background-color: rgb(29, 86, 190);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.even {
  background-color: crimson;
}

.odd {
  background-color: cyan;
}
